*{
    padding: 0px;
}

.cat{
    text-decoration: solid;
    color: rgb(88, 88, 88);
    margin-left: 25px;
}

#divaa{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(242, 241, 241);
}

#seccioncards{
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
}

.card{
    margin: 20px !important;
}

.textoferta{
    color: rgb(96, 96, 96);
    text-decoration: none;
    font-style: none;
    border: 1px rgb(221, 220, 220) solid;
    border-radius: 6px;
    background-color: white;
    padding: 10px;
    margin: 7px;
    width: 170px;
    height: 40px;
    margin-left: 20px;
}

.textoferta:hover{
    background-color: rgb(248, 247, 247);
    color:rgb(246, 147, 147) ;
}

.aref{
    text-decoration: none;
}

.aaal{
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

#bodysection{
    background-color: rgb(242, 241, 241);
}

#carrito {
    position: fixed;
    top: 70px;
    right: 10px;
    background-color: white;
    z-index: 1000;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#btn-carrito{
    margin-right:5rem;
}